style_transfer_result_at_iteration_7.png
style_transfer_result_at_iteration_17.png
style_transfer_result_at_iteration_16.png
style_transfer_result_at_iteration_15.png
style_transfer_result_at_iteration_13.png
style_transfer_result_at_iteration_12.png
style_transfer_result_at_iteration_11.png
style_transfer_result_at_iteration_1.png
style_transfer_result_at_iteration_0.png
style_transfer_result_at_iteration_5.png
style_transfer_result_at_iteration_4.png
.ipynb_checkpoints/StyleNetwork2-checkpoint.ipynb
style_transfer_result_at_iteration_9.png
style_transfer_result_at_iteration_8.png
style_transfer_result_at_iteration_19.png
style_transfer_result_at_iteration_10.png
style_transfer_result_at_iteration_3.png
style_transfer_result_at_iteration_2.png
style_transfer_result_at_iteration_14.png
style_transfer_result_at_iteration_18.png
style_transfer_result_at_iteration_6.png
style_transfer_result_at_iteration_38.png
style_transfer_result_at_iteration_28.png
style_transfer_result_at_iteration_27.png
style_transfer_result_at_iteration_26.png
style_transfer_result_at_iteration_22.png
style_transfer_result_at_iteration_21.png
.idea/vcs.xml
.idea/modules.xml
.idea/libraries/R_User_Library.xml
style_transfer_result_at_iteration_34.png
style_transfer_result_at_iteration_33.png
style_transfer_result_at_iteration_32.png
style_transfer_result_at_iteration_25.png
style_transfer_result_at_iteration_24.png
.ipynb_checkpoints/StyleNetwork3-checkpoint.ipynb
.ipynb_checkpoints/StyleNetwork-checkpoint.ipynb
.idea/workspace.xml
style_transfer_result_at_iteration_37.png
style_transfer_result_at_iteration_36.png
style_transfer_result_at_iteration_35.png
style_transfer_result_at_iteration_30.png
style_transfer_result_at_iteration_29.png
style_transfer_result_at_iteration_20.png
.idea/StyleNetwork.iml
style_transfer_result_at_iteration_23.png
style_transfer_result_at_iteration_31.png
