style_transfer_result_at_iteration_7.png
style_transfer_result_at_iteration_17.png
style_transfer_result_at_iteration_16.png
style_transfer_result_at_iteration_15.png
style_transfer_result_at_iteration_13.png
style_transfer_result_at_iteration_12.png
style_transfer_result_at_iteration_11.png
style_transfer_result_at_iteration_1.png
style_transfer_result_at_iteration_0.png
style_transfer_result_at_iteration_5.png
style_transfer_result_at_iteration_4.png
.ipynb_checkpoints/StyleNetwork2-checkpoint.ipynb
style_transfer_result_at_iteration_9.png
style_transfer_result_at_iteration_8.png
style_transfer_result_at_iteration_19.png
style_transfer_result_at_iteration_10.png
style_transfer_result_at_iteration_3.png
style_transfer_result_at_iteration_2.png
style_transfer_result_at_iteration_14.png
style_transfer_result_at_iteration_18.png
style_transfer_result_at_iteration_6.png
