style_transfer_result_at_iteration_7.png
style_transfer_result_at_iteration_17.png
style_transfer_result_at_iteration_16.png
style_transfer_result_at_iteration_15.png
style_transfer_result_at_iteration_13.png
style_transfer_result_at_iteration_12.png
style_transfer_result_at_iteration_11.png
style_transfer_result_at_iteration_1.png
style_transfer_result_at_iteration_0.png
style_transfer_result_at_iteration_5.png
style_transfer_result_at_iteration_4.png
.ipynb_checkpoints/StyleNetwork2-checkpoint.ipynb
style_transfer_result_at_iteration_9.png
style_transfer_result_at_iteration_8.png
style_transfer_result_at_iteration_19.png
style_transfer_result_at_iteration_10.png
style_transfer_result_at_iteration_3.png
style_transfer_result_at_iteration_2.png
style_transfer_result_at_iteration_14.png
style_transfer_result_at_iteration_18.png
style_transfer_result_at_iteration_6.png
style_transfer_result_at_iteration_38.png
style_transfer_result_at_iteration_28.png
style_transfer_result_at_iteration_27.png
style_transfer_result_at_iteration_26.png
style_transfer_result_at_iteration_22.png
style_transfer_result_at_iteration_21.png
.idea/vcs.xml
.idea/modules.xml
.idea/libraries/R_User_Library.xml
style_transfer_result_at_iteration_34.png
style_transfer_result_at_iteration_33.png
style_transfer_result_at_iteration_32.png
style_transfer_result_at_iteration_25.png
style_transfer_result_at_iteration_24.png
.ipynb_checkpoints/StyleNetwork3-checkpoint.ipynb
.ipynb_checkpoints/StyleNetwork-checkpoint.ipynb
.idea/workspace.xml
style_transfer_result_at_iteration_37.png
style_transfer_result_at_iteration_36.png
style_transfer_result_at_iteration_35.png
style_transfer_result_at_iteration_30.png
style_transfer_result_at_iteration_29.png
style_transfer_result_at_iteration_20.png
.idea/StyleNetwork.iml
style_transfer_result_at_iteration_23.png
style_transfer_result_at_iteration_31.png
.idea/misc.xml
nst/.ipynb_checkpoints/neural_style_transfer-checkpoint.ipynb
Graphic City From Noise 1-0.1 block5_conv2/style_transfer_result_at_iteration_39.png
Graphic City From Noise 1-0.05 block2_conv2/style_transfer_result_at_iteration_39.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_58.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_57.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_56.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_55.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_54.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_43.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_42.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_41.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_40.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_39.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_63.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_62.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_61.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_60.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_59.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_48.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_47.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_46.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_45.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_44.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_68.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_67.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_66.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_65.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_64.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_53.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_52.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_51.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_50.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_49.png
Superceded/start with stars all layers 1.png
Superceded/start with stars all layers 0.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_70.png
Graphic City From Space 1-0.05 block2_conv2/style_transfer_result_at_iteration_69.png
Graphic City From Noise 0.1-1 block4_conv2/style_transfer_result_at_iteration_39.png
__pycache__/StyleNetwork2.cpython-36.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-6.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-5.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-4.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-3.png
ML-Open-Source-Implementations-master/Style-Transfer/makefile
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/models/gan.py
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/generated_images/pokemon_gen1.gif
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/generated_images/pokemon5.gif
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/generated_images/pokemon.gif
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/generated_images/mnist.gif
ML-Open-Source-Implementations-master/Style-Transfer/README.md
ML-Open-Source-Implementations-master/Style-Transfer/.ipynb_checkpoints/Style Transfer-checkpoint.ipynb
ML-Open-Source-Implementations-master/README.md
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/models/dcgan.py
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/models/data.py
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/generated_images/pokemon_gen5.gif
StyleNetwork2-Copy1.ipynb
ML-Open-Source-Implementations-master/Style-Transfer/styletransfer.gif
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/README.md
ML-Open-Source-Implementations-master/.gitignore
.ipynb_checkpoints/StyleNetwork2-Copy1-checkpoint.ipynb
ML-Open-Source-Implementations-master/Style-Transfer/style-transfer.py
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-9.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-8.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-7.png
ML-Open-Source-Implementations-master/Style-Transfer/images/style1.png
ML-Open-Source-Implementations-master/Style-Transfer/images/city.png
ML-Open-Source-Implementations-master/Style-Transfer/Style Transfer.ipynb
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-10.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-1.png
ML-Open-Source-Implementations-master/Generative-Adversarial-Networks/models/resize.py
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-2.png
ML-Open-Source-Implementations-master/Style-Transfer/outputs/city_style1-0.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_48.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_47.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_46.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_45.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_44.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_43.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_42.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_41.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_40.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/style_transfer_result_at_iteration_39.png
src/Results City from Content 1.0-0.05 block3_conv4 sharp2.0/loss_plots.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_99.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_98.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_45.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_44.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_43.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_42.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_41.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_40.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_39.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_100.png
src/.ipynb_checkpoints/StyleNetwork-checkpoint.ipynb
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_64.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_63.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_62.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_61.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_60.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_59.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_58.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_57.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_56.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_55.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_54.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_53.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_52.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_58.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_57.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_56.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_55.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_54.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_53.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_52.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_51.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_50.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_49.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_48.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_47.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_46.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_51.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_50.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_49.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_48.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_47.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_46.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_45.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_44.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_43.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_42.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_41.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_40.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_39.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_71.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_70.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_69.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_68.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_67.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_66.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_65.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_64.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_63.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_62.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_61.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_60.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_59.png
src/__pycache__/StyleNetwork.cpython-36.pyc
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_68.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_67.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_66.png
src/Results City from Content 1.0-0.05 block3_conv4/style_transfer_result_at_iteration_65.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_84.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_83.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_82.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_81.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_80.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_79.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_78.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_77.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_76.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_75.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_74.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_73.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_72.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_97.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_96.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_95.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_94.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_93.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_92.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_91.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_90.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_89.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_88.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_87.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_86.png
src/Results City from Content 1.0-0.05 block1_conv2/style_transfer_result_at_iteration_85.png
